.titre {
    font-family: "TINY5x3-160";
    font-size: 120px;
}

.choix {
    font-family: "TINY5x3-140";
    font-size: 80px;
}

.fond {
    height: 100vh;
    width: 99.1vw;
}

#connect {
    font-family: "TINY5x3-160";
    font-size: 70px;
}

body {
    background-size: cover;
    background: linear-gradient(rgb(255, 244, 92), white)
}

.formulaire-one {
    padding-top: 30px;
    padding-bottom: 90px;
    border: 1px, solid;
    border-radius: 10px;
}

#heroes {
    font-family: "TINY5x3-140";
    font-size: 60px;
    background-color: linear-gradient(white, blue);
    padding-bottom: 60px;
}

.carte {
margin-bottom: 60px;
}

.button {
    border-radius: 10px;
    height: 75px;
}